@charset "UTF-8";
.contenedorContacto {
  height: 100vh;
}
.contenedorContacto .contenedorIzquierda {
  background-color: #f83e63;
  height: 100vh;
}
.contenedorContacto .contenedorIzquierda h2 {
  font-family: "Sacramento", cursive;
  color: white;
  font-size: 60px;
  padding-top: 45%;
  text-align: center;
}
.contenedorContacto .contenedorDerecha {
  height: 100vh;
  padding: 5%;
  background-color: #dfdbdb;
}
.contenedorContacto .contenedorDerecha .bloque__titulo--tipografia {
  color: crimson;
  font-family: "Archivo Black", sans-serif;
}
.contenedorContacto .contenedorDerecha .bloque__subtitulo--tipografia {
  color: #2e2e2e;
  font-family: "Raleway", sans-serif;
}
.contenedorContacto .contenedorDerecha .form--propiedades {
  color: crimson;
  font-family: "Raleway", sans-serif;
  width: 100%;
}
.contenedorContacto .contenedorTransparente {
  width: 100%;
  height: 100vh;
}
.contenedorContacto .contenedorTransparente h3 {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 5%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: "Archivo Black", sans-serif;
  text-shadow: #2e2e2e;
  line-height: 150%;
}

.curriculum--propiedades {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #333333;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
  z-index: 1;
}
.curriculum--propiedades .contenedorIconos {
  justify-content: center;
  align-items: center;
  padding: 3%;
  display: flex;
}
.curriculum--propiedades .contenedorIconos a {
  padding-inline: 4%;
}
.curriculum--propiedades .contenedorIconos a .icono {
  font-size: 45px;
  color: crimson;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.curriculum--propiedades .contenedorIconos a .icono:hover {
  color: pink;
  transform: scale(1.2);
  transform: rotate(280 deg);
}
.curriculum--propiedades .contenedorCurriculum {
  display: grid;
  justify-content: center;
  align-items: center;
}
.curriculum--propiedades .contenedorCurriculum .contenedorCurriculum__titulo--texto {
  color: white;
}

.boton--propiedades {
  min-width: 180px;
  height: 50px;
  color: white;
  border: none;
  border-radius: 25px;
  border: 100px;
  background-color: crimson;
  position: relative;
  margin: 4%;
}
.boton--propiedades:hover {
  background-color: pink;
  color: crimson;
  border: 2px solid crimson;
  transform: scale(1.1);
  transition: 0.5s;
}

header .contenedorPortada {
  width: 100%;
  height: 100vh;
}
header .contenedorPortada #nombre {
  position: relative;
  z-index: 2;
  padding-top: 10%;
  color: white;
  text-align: center;
  font-size: 60px;
  font-family: "Archivo Black", sans-serif;
}
header .contenedorPortada #carrera {
  position: relative;
  z-index: 2;
  padding-top: 10%;
  color: crimson;
  text-align: center;
  font-size: 50px;
  font-family: "Sacramento", cursive;
}

nav a {
  font-size: 18px;
  font-family: "Archivo Black", sans-serif;
  text-decoration: none;
  padding: 15px 20px;
}

/*----------sub menu--------*/
ul ul {
  display: none;
  position: absolute;
  background-color: crimson;
  transition: all 2s;
}

ul li:hover ul {
  display: block;
}

ul ul li {
  display: block;
}

#contenedorRosa {
  height: 100vh;
  background-color: #FF82BE;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contenedorRosa h2 {
  font-family: "Sacramento", cursive;
  color: white;
  font-size: 60px;
}

#contenedorBlanco {
  background-color: antiquewhite;
  height: 100vh;
  padding-left: 8%;
  padding-right: 4%;
  padding-top: 2%;
  font-family: "Raleway", sans-serif;
  line-height: 30px;
  color: #363535;
}
#contenedorBlanco a:hover {
  color: #FF82BE;
}

.enlaces {
  color: crimson;
  font-family: "Archivo Black", sans-serif;
  font-size: 20px;
  text-decoration: none;
}

.centradoVyH {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fijoSticky {
  position: sticky;
  top: 200vh;
}

#proyectoGris {
  height: 100vh;
  background-color: #f7eef4;
  display: block;
  justify-content: center;
  align-items: center;
}
#proyectoGris a {
  text-decoration: none;
}
#proyectoGris a h2 {
  font-family: "Sacramento", cursive;
  color: crimson;
  font-size: 60px;
  text-align: center;
  text-decoration: none;
  margin-top: 45%;
}
#proyectoGris ul {
  text-align: center;
}
#proyectoGris ul li {
  display: inline-block;
}
#proyectoGris ul li a {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  text-decoration: none;
  color: #2c282c;
  text-align: center;
}

#proyectoFotos {
  height: 100vh;
  width: 100%;
  overflow: auto;
  padding-right: 0px !important;
  padding-left: 0px !important;
}
#proyectoFotos::-webkit-scrollbar {
  width: 7px;
  background: white;
}
#proyectoFotos::-webkit-scrollbar-thumb {
  background-color: crimson;
}
#proyectoFotos .contFoto {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
}
#proyectoFotos .contFoto img {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  transition: 4s;
}
#proyectoFotos .contFoto img:hover {
  transform: scale(1.2);
}
#proyectoFotos .contFoto .ejeY img {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  transition: 4s;
}
#proyectoFotos .contFoto .ejeY img:hover {
  transform: translateY(-48%);
}

/*for*/
.contenedor1 {
  padding: 4%;
  width: 100%;
  height: auto;
  flex-wrap: nowrap;
  overflow: auto;
}
.contenedor1 .contenedorIzquierda {
  width: 50%;
  height: 100%;
  padding: 3%;
}
.contenedor1 .contenedorIzquierda h4 {
  font-family: "Archivo Black", sans-serif;
  padding-bottom: 1.5%;
}
.contenedor1 .contenedorIzquierda a {
  background-color: crimson;
  color: white;
  width: auto;
  height: 40px;
  border-radius: 20px;
  margin-bottom: 1%;
}
.contenedor1 .contenedorIzquierda a:hover {
  background-color: #f0f0f0;
  color: crimson;
  border: 2px solid crimson;
  transform: scale(1.1);
  transition: 0.5s;
}
.contenedor1 .contenedorDerecha {
  width: 50%;
  height: 100vh;
  overflow: hidden;
  box-shadow: 1px 10px 25px rgba(0, 0, 0, 0.5);
  padding: 0%;
}
.contenedor1 .contenedorDerecha img {
  height: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  transition: 2s;
}
.contenedor1 .contenedorDerecha img:hover {
  transform: translateX(-30%);
}

.contenedor2 {
  padding: 4%;
  width: 100%;
  height: auto;
  flex-wrap: nowrap;
  overflow: auto;
}
.contenedor2 .contenedorIzquierda {
  width: 50%;
  height: 100%;
  padding: 3%;
}
.contenedor2 .contenedorIzquierda h4 {
  font-family: "Archivo Black", sans-serif;
  padding-bottom: 1.5%;
}
.contenedor2 .contenedorIzquierda a {
  background-color: crimson;
  color: white;
  width: auto;
  height: 40px;
  border-radius: 20px;
  margin-bottom: 1%;
}
.contenedor2 .contenedorIzquierda a:hover {
  background-color: #f0f0f0;
  color: crimson;
  border: 2px solid crimson;
  transform: scale(1.1);
  transition: 0.5s;
}
.contenedor2 .contenedorDerecha {
  width: 50%;
  height: 100vh;
  overflow: hidden;
  box-shadow: 1px 10px 25px rgba(0, 0, 0, 0.5);
  padding: 0%;
}
.contenedor2 .contenedorDerecha img {
  height: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  transition: 2s;
}
.contenedor2 .contenedorDerecha img:hover {
  transform: translateX(-30%);
}

.contenedor3 {
  padding: 4%;
  width: 100%;
  height: auto;
  flex-wrap: nowrap;
  overflow: auto;
}
.contenedor3 .contenedorIzquierda {
  width: 50%;
  height: 100%;
  padding: 3%;
}
.contenedor3 .contenedorIzquierda h4 {
  font-family: "Archivo Black", sans-serif;
  padding-bottom: 1.5%;
}
.contenedor3 .contenedorIzquierda a {
  background-color: crimson;
  color: white;
  width: auto;
  height: 40px;
  border-radius: 20px;
  margin-bottom: 1%;
}
.contenedor3 .contenedorIzquierda a:hover {
  background-color: #f0f0f0;
  color: crimson;
  border: 2px solid crimson;
  transform: scale(1.1);
  transition: 0.5s;
}
.contenedor3 .contenedorDerecha {
  width: 50%;
  height: 100vh;
  overflow: hidden;
  box-shadow: 1px 10px 25px rgba(0, 0, 0, 0.5);
  padding: 0%;
}
.contenedor3 .contenedorDerecha img {
  height: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  transition: 2s;
}
.contenedor3 .contenedorDerecha img:hover {
  transform: translateX(-30%);
}

/*mapa de colores*/
.contenedor1 {
  background-color: pink;
  color: crimson;
  line-height: 1.5;
}

.contenedor2 {
  background-color: #f0f0f0;
  color: crimson;
  line-height: 1.5;
}

.contenedor3 {
  background-color: #f797a7;
  color: crimson;
  line-height: 1.5;
}

.portadaProyecto {
  width: 100%;
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portadaProyecto::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 80vh;
  top: 0;
  right: 0;
  background: linear-gradient(rgba(253, 187, 233, 0.4), #333333);
}
.portadaProyecto .contenedorTextoh1 {
  position: absolute;
  font-family: "Sacramento", cursive;
  color: white;
  font-size: 72px;
  text-align: center;
}
.portadaProyecto .contenedorImagen {
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

/*********fin portada****************/
.titulos {
  background-color: #333333;
  position: relative;
  color: white;
  text-align: center;
  font-size: 2rem;
  padding: 3%;
}
.titulos span {
  color: crimson;
  font-size: 3rem;
}

.itemsText {
  padding: 6%;
  color: snow;
  max-height: 30rem;
  min-width: 20rem;
}
.itemsText h3 {
  color: pink;
  font-size: 1, 5rem;
}

.contenedorGrid {
  width: 100%;
  display: grid;
  padding-left: 3%;
  padding-right: 3%;
  background-color: #333333;
  gap: 3rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: auto;
}

.contenedorGrid1 #itemDiseno {
  grid-column: 1/3;
  grid-row: 1/3;
  background-image: url(../multimedia/balconero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.contenedorGrid1 #item1 {
  grid-column: 3/4;
  grid-row: 1/2;
  background-color: salmon;
  background-image: url(../multimedia/cesto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.contenedorGrid1 #item2 {
  grid-column: 4/5;
  grid-row: 1/2;
}
.contenedorGrid1 #item3 {
  grid-column: 3/4;
  grid-row: 2/3;
}
.contenedorGrid1 #item4 {
  grid-column: 4/5;
  grid-row: 2/3;
  background-image: url(../multimedia/silla\ ergo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contenedorGrid2 #itemPublicitario {
  grid-column: 3/5;
  grid-row: 1/3;
  height: auto;
  background-image: url(../multimedia/4310607.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.contenedorGrid2 #item5 {
  grid-column: 1/2;
  grid-row: 1/2;
  background-image: url(../multimedia/publicidad\ cuadrada.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.contenedorGrid2 #item6 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.contenedorGrid2 #item7 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.contenedorGrid2 #item8 {
  grid-column: 2/3;
  grid-row: 2/3;
  background-image: url(../multimedia/publicidad\ cuadrada\ 3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contenedorGrid3 #itemPackaging {
  grid-column: 1/3;
  grid-row: 1/3;
  height: auto;
  background-image: url(../multimedia/packaging4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.contenedorGrid3 #item9 {
  grid-column: 3/4;
  grid-row: 1/2;
}
.contenedorGrid3 #item10 {
  grid-column: 4/5;
  grid-row: 1/2;
  min-height: 20rem;
  background-image: url(../multimedia/packaging1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.contenedorGrid3 #item11 {
  grid-column: 3/4;
  grid-row: 2/3;
  background-image: url(../multimedia/packaging2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.contenedorGrid3 #item12 {
  grid-column: 4/5;
  grid-row: 2/3;
}

.contenedorGrid4 #itemWeb {
  grid-column: 3/5;
  grid-row: 1/3;
  background-color: violet;
  height: auto;
  background-image: url(../multimedia/diseño\ web.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.contenedorGrid4 #item13 {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: royalblue;
  background-image: url(../multimedia/diseño\ web\ 2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.contenedorGrid4 #item14 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.contenedorGrid4 #item15 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.contenedorGrid4 #item16 {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #41d6e1;
  background-image: url(../multimedia/diseño\ web\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

@media only screen and (max-width: 1300px) {
  .contenedorGrid #item1 {
    grid-column: 3/5;
    grid-row: 1/2;
  }
  .contenedorGrid #item2 {
    grid-column: 3/5;
    grid-row: 2/3;
  }
  .contenedorGrid #item3 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .contenedorGrid #item4 {
    grid-column: 3/5;
    grid-row: 3/4;
  }
  .contenedorGrid #item5 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .contenedorGrid #item6 {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .contenedorGrid #item7 {
    grid-column: 3/5;
    grid-row: 3/4;
  }
  .contenedorGrid #item8 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .contenedorGrid #itemPackaging {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .contenedorGrid #item9 {
    grid-column: 3/5;
    grid-row: 1/2;
  }
  .contenedorGrid #item10 {
    grid-column: 3/5;
    grid-row: 2/3;
    min-height: 20rem;
  }
  .contenedorGrid #item11 {
    grid-column: 1/3;
    grid-row: 3/4;
    min-height: 20rem;
  }
  .contenedorGrid #item12 {
    grid-column: 3/5;
    grid-row: 3/5;
  }
  .contenedorGrid #item13 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .contenedorGrid #item14 {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .contenedorGrid #item15 {
    grid-column: 3/5;
    grid-row: 3/4;
  }
  .contenedorGrid #item16 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
}
@media only screen and (max-width: 880px) {
  .contenedorGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .contenedorGrid #itemDiseno {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .contenedorGrid #item1 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .contenedorGrid #item2 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .contenedorGrid #item3 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .contenedorGrid #item4 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .contenedorGrid #itemPublicitario {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .contenedorGrid #item5 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .contenedorGrid #item6 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .contenedorGrid #item7 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .contenedorGrid #item8 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .contenedorGrid #itemPackaging {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .contenedorGrid #item9 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .contenedorGrid #item10 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .contenedorGrid #item11 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .contenedorGrid #item12 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .contenedorGrid #itemWeb {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .contenedorGrid #item13 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .contenedorGrid #item14 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .contenedorGrid #item15 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .contenedorGrid #item16 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
}
@media only screen and (max-width: 730px) {
  .contenedorGrid1 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 32rem 18rem 18rem 26rem 20rem;
    gap: 1rem;
  }
  .contenedorGrid1 #itemDiseno {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .contenedorGrid1 #item1 {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .contenedorGrid1 #item2 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .contenedorGrid1 #item3 {
    grid-column: 1/3;
    grid-row: 5/6;
  }
  .contenedorGrid1 #item4 {
    grid-column: 1/3;
    grid-row: 4/5;
  }

  .contenedorGrid2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 38rem 30rem 18rem 30rem 20rem;
    gap: 1rem;
  }
  .contenedorGrid2 #itemPublicitario {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .contenedorGrid2 #item5 {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .contenedorGrid2 #item6 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .contenedorGrid2 #item7 {
    grid-column: 1/3;
    grid-row: 5/6;
  }
  .contenedorGrid2 #item8 {
    grid-column: 1/3;
    grid-row: 4/5;
  }

  .contenedorGrid3 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 38rem 15rem 26rem 15rem 28rem;
    gap: 1rem;
  }
  .contenedorGrid3 #itemPackaging {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .contenedorGrid3 #item9 {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .contenedorGrid3 #item10 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .contenedorGrid3 #item11 {
    grid-column: 1/3;
    grid-row: 5/6;
  }
  .contenedorGrid3 #item12 {
    grid-column: 1/3;
    grid-row: 4/5;
  }

  .contenedorGrid4 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 38rem 30rem 18rem 30rem 18rem;
    gap: 1rem;
  }
  .contenedorGrid4 #itemWeb {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .contenedorGrid4 #item13 {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .contenedorGrid4 #item14 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .contenedorGrid4 #item15 {
    grid-column: 1/3;
    grid-row: 5/6;
  }
  .contenedorGrid4 #item16 {
    grid-column: 1/3;
    grid-row: 4/5;
  }
}
@media only screen and (max-width: 480px) {
  .contenedorGrid1 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 32rem 18rem 25rem 26rem 26rem;
    gap: 1rem;
  }

  .contenedorGrid2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 38rem 30rem 20rem 30rem 28rem;
    gap: 1rem;
  }

  .contenedorGrid3 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 38rem 15rem 26rem 15rem 28rem;
    gap: 1rem;
  }

  .contenedorGrid4 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 38rem 30rem 23rem 30rem 26rem;
    gap: 1rem;
  }
}
.bodyPresupuesto {
  background-image: url(../multimedia/portada.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bodyPresupuesto::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 155%;
  top: 0;
  right: 0;
  background-image: linear-gradient(90deg, #e83b59, #509fc9);
  opacity: 0.5;
}
.bodyPresupuesto .contPresupuestoIz {
  height: auto;
  background-color: #FF82BE;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bodyPresupuesto .contPresupuestoIz h1 {
  font-family: "Sacramento", cursive;
  color: white;
  font-size: 60px;
}
.bodyPresupuesto .contPresupuestoDer {
  height: auto;
  padding-left: 8%;
  padding-right: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-family: "Raleway", sans-serif;
  line-height: 35px;
  color: white;
}
.bodyPresupuesto .contPresupuestoDer .tituloh2 {
  color: white;
  font-family: "Archivo Black", sans-serif;
}
.bodyPresupuesto .contPresupuestoDer .form__titulo {
  color: crimson;
  font-family: "Archivo Black", sans-serif;
}
.bodyPresupuesto .contPresupuestoDer .botonEnviar {
  margin-top: 2%;
}

.bodyIndex {
  margin: 0;
  height: auto;
  background-image: url(../multimedia/portada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}
.bodyIndex::before {
  content: "";
  width: 100%;
  height: 524.2%;
  position: absolute;
  /*puse position para poder mover la capa hacia atras en el eje z*/
  top: 0;
  left: 0;
  background-image: linear-gradient(90deg, #e83b59, #509fc9);
  opacity: 0.3;
  z-index: 0;
}

/*# sourceMappingURL=estilos.css.map */
