$color1:crimson;
$color2:white;
$color3:rgb(51, 51, 51);
$color4:rgb(240, 240, 240);
$color5:pink;
$color6:rgb(247, 151, 167);

$titulo:"Archivo Black",
sans-serif;
$texto:"Raleway",
sans-serif;

$fuenteNegrita:'Archivo Black', sans-serif;
$fuenteCursiva:'Sacramento', cursive;
$fuenteTexto:'Raleway', sans-serif;